@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Lost in the Woods</h1>
</div>

@model List<Dictionary<string, object>>


<table class="table">
  <thead class="thead-dark">
        <tr>
        <th scope="col">Trail Name</th>
        <th scope="col">Description</th>
        <th scope="col">Trail Length</th>
        <th scope="col">Elevation</th>
        <th scope="col">Longitude & Latitude</th>
        <th scope="col">Actions</th>


        </tr>
    </thead>
    <tbody>

@foreach(var num in Model){
        <tr>
            <td><a href='/show/@num["id"]'>@num["name"]</a></td>
            <td>  @num["description"]</td>
            <td> @num["length"] Miles</td>
            <td> @num["elevation"] Feet</td>
            <td>  @num["longlat"]</td>
            <td><a href='/delete/@num["id"]'><button>Delete</button></a></td>

        </tr>
    }
    </tbody>
</table>




<a href="/newtrail"><button>Add a New Trail!</button></a>
